<div class="content-topic" *ngIf="topic">
    <div class="enc-topic">
        <div class="topic-img-user">
            <app-info-user [user]="topic.owner"></app-info-user>
        </div>
        <div class="username-topic">{{topic.owner.name}}</div>
    </div>
    <div class="date-topic">Fecha del topico: {{ (topic.created_at | amFromUnix) | amLocale:'es' | amTimeAgo}}</div>
    <div class="title-topic">{{topic.title}}</div>
    <div [className]="completo === 'true' ? '' : 'text-topic' ">
        {{topic.description}}
    </div>
    <hr>
</div>