.createTopic {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 2.5px 15px;
    background-color: #36a7c4;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.content-relative-topic {
    position: relative;
}

.cont-btntopico {
    display: none;
}

.content-topic:hover~.cont-btntopico {
    display: block;
}

.cont-form-topic {
    display: flex;
    flex-direction: column;
}

.cont-form-topic>*:not(.btnback) {
    width: 100%;
}

.textarea-topic {
    width: 100%
}

.modal-body {
    height: calc(100% - 60px) !important;
}

.cont-btntopico {
    float: right;
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    z-index: 1000;
}

.btnback {
    float: right;
    right: 5px;
}

.iframeclass {
    z-index: 2147483000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px, rgba(0, 0, 0, 0.16) 0px 2px 32px 0px;
    border-radius: 50%;
    background: rgb(0, 113, 178);
    animation: 250ms ease 0s 1 normal none running animation-bhegco;
    transition: opacity 0.3s ease 0s;
}