.cont-comment {
    padding: 10px;
    /* display: inline-block;*/
    width: 100%;
    border-left: 1px solid #a5e5f5;
    position: relative;
    /* min-height: 60px;*/
}

.cont-user-comment {
    position: relative;
    float: left;
    width: 50px;
    display: block;
}

.cont-user-commnet {
    position: absolute;
    display: inline-block;
}

.cont-right {
    position: relative;
    display: inline-block;
    width: calc(100% - 40px);
    padding-left: 50px;
}

.cont-fecha-comment {
    position: absolute;
    right: 0;
    color: #bcbcbc;
    top: 0px;
}

.cont-name-user {
    font-weight: bold;
    position: relative;
}

.cont-text-comment {
    display: inline-block;
}