<div class="">
    <div class="">
        <div class="">
            <div style="padding-top:1%">
                <topic *ngIf="topic_selected_id" [topic_id]="topic_selected_id" [completo]="'true'"></topic>
            </div>
            <div *ngIf="topic">
                <h4 *ngIf="comments.length > 0">Comentarios:</h4>
                <div class="topic-comments">
                    <div *ngFor="let comment of comments">
                        <app-comment *ngIf="comment" [comment_object]="comment"></app-comment>
                    </div>
                </div>
                <div>
                    <div>Comentar:</div>

                    <textarea #comment_ name="comment_" id="comment_"></textarea>

                    <button type="button" (click)="addComment(comment_.value)"> Aceptar</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>