<div class="col-lg-12">
    <div  class="" >
            <div class="" >                    
                    <div style="padding-top:1%">
                        <topic *ngIf="topic_selected_id" [topic_id]="topic_selected_id"></topic>
                    </div>
                      <div *ngIf="topic" class="col-xs-12"> 
                          <div  *ngFor="let comment_id of topic.comments"   >
                            <div class="col-xs-12">
                                <app-comment *ngIf="comment_id" [comment_id]="comment_id"></app-comment>
                            </div> 
                                
                          </div >
                      </div >
            </div>           
     </div>
</div>
<div class="clearfix"></div>

