<div >

    <!-- Modal -->
    <div class="" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="" role="document">
            <div class="modal-content">

                <div class="modal-header" style="padding:0px;">
                    <h4 class="modal-title" id="myModalLabel2" style="padding-left:5px;">Comentarios</h4>
                </div>

                <div class="modal-body" style="padding-bottom:2%">

                   <div *ngFor="let comment of comments">
                        <app-activity-comment *ngIf="comment" [activitycomment_object]="comment" ></app-activity-comment>
                    </div>
                </div>
                <div class="modal-footer" >
                    <div>
                        <mat-form-field>
                            <textarea matInput class="" placeholder="Escribir comentario" [(ngModel)]="commentText" ></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="addComment()">Aceptar</button>
                    </div>
                </div> 
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->
</div>
<!-- container -->