.img-user {
    float: left;
    position: relative;
}

.comments {
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

.comment {
    float: left;
    position: relative;
    padding: 10px;
    background-color: #eee;
    margin-left: 10px;
    height: 55px;
    font-size: 12px;
    width: calc(100% - 50px);
    border-radius: 5px;
}

.contentCommentsAct {
    height: 70px;
    margin-top: 19px !important;
}

.textarea-comment {
    padding: 5px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc
}

mat-form-field {
    width: 100%;
}

.divClone {
    width: 466px;
    text-align: left;
    position: absolute;
    color: #fff;
    height: 0px;
    overflow: auto;
}

#spanPosition {
    position: relative;
}

.dropdownTag {
    position: absolute;
    padding: 6px;
    background-color: #fff;
    z-index: 1;
    border-radius: 5px;
    font-size: 12px;
    min-width: 120px;
    text-align: left;
    font-weight: bold;
    border: 0;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    border: 0px solid #000;
}

.dropdownTag div {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.dropdownTag div:hover {
    background-color: #eee;
}

.content-comment {
    position: relative;
}

mat-form-field textarea {
    height: 35px;
}

.tagsinput {
    width: 50%;
    background-color: #fff;
    /*border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    display: inline-block;
    /*color: #555;
    vertical-align: middle;
    border-radius: 4px;*/
}

.modal-content {
    position: relative;
    box-shadow: none;
}

.modal-body {
    padding-bottom: 2%;
    height: 76%;
    position: fixed;
}

.modal-footer {
    width: 100%;
    position: fixed;
    top: 80%;
}